clip==1.0
fastapi==0.115.8
fastembed==0.5.1
langchain==0.3.19
langchain_core==0.3.37
langchain_groq==0.2.4
langgraph==0.2.74
llama_index==0.12.19
numpy==2.2.3
Pillow==11.1.0
pydantic==2.10.6
pydantic_settings==2.7.1
python-dotenv==1.0.1
qdrant_client==1.13.2
Requests==2.32.3
sentence_transformers==3.4.1
streamlit==1.42.2
torch==2.6.0
unstructured==0.16.23
uvicorn==0.34.0
